.hero {
  width: 100%;
  background: url(../../../src/assets/startup-hero-03.webp);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  .heroFooter {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  .topArrow {
    position: absolute;
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: white;
    background: rgb(79, 4, 255);
    border: 0;
    bottom: 3rem;
    right: 3rem;
    border-radius: 8px;
    z-index: 999;
    position: fixed;
  }

  .img1 {
    position: absolute;
    left: 0;
    top: 8rem;

    @media (max-width: 575px) {
      display: none;
    }
  }
  .img2 {
    position: absolute;
    right: 5rem;
    top: 8rem;
    @media (max-width: 991px) {
      right: 2rem;
      top: 8rem;
    }
    @media (max-width: 575px) {
      display: none;
    }
  }
  .img3 {
    position: absolute;
    right: 40rem;
    top: 4rem;
    @media (max-width: 767px) {
      right: 30rem;
      top: 0.4rem;
    }
    @media (max-width: 575px) {
      display: none;
    }
  }

  h1 {
    color: rgb(69, 0, 143);
    font-weight: 700;
    font-size: 3rem;
    @media (max-width: 575px) {
      font-size: 2rem;
      text-align: center;
    }
  }

  .btn-grp {
    height: 60px;
  }

  .desc {
    color: rgb(71, 71, 71);
  }
  .title {
    position: relative;
    width: 57%;
    text-align: right;
    &:hover {
      &::after {
        left: 70px;
        top: 5px;
        transition: all 0.7s ease;
      }
    }
  }

  .title::before {
    content: "";
    height: 4px;
    width: 80px;
    background: rgb(69, 0, 143);
    position: absolute;
    left: 2px;
    top: 9px;
  }
  .title::after {
    content: "";
    height: 13px;
    width: 13px;
    background: rgb(69, 0, 143);
    position: absolute;
    left: 3px;
    top: 5px;
    transform: rotate(45deg);
  }
  @media (max-width: 991px) {
    .title {
      width: 49%;
    }
    .title::before {
      left: 2px;
      top: 9px;
      height: 3px;
    }
    .title::after {
      left: 3px;
      top: 4px;
    }
  }
  @media (max-width: 767px) {
    .title {
      width: 66%;
    }
    .title::before {
      left: 2px;
      top: 9px;
      height: 3px;
    }
    .title::after {
      left: 3px;
      top: 4px;
    }
  }

  @media (max-width: 575px) {
    .hero .title {
      font-size: 25px;
    }
    .fbBtn {
      margin-right: 0 !important;
    }
    .topArrow {
      display: none;
    }
    h1 {
      font-size: 6rem;
    }
    .heroFooter {
      display: none;
    }
    .cont {
      padding: 1rem 1rem !important;
      h1 {
        font-size: 26px;
      }
      .title {
        width: 100%;
        text-align: left;
        padding-left: 20px;
      }
      .title::before {
        display: none;
      }
      .title::after {
        display: none;
      }
      .shortIcon {
        p {
          font-size: 18px;
          gap: 5px !important;
        }
      }
      .desc {
        text-align: justify;
      }
      .btn-grp {
        flex-direction: column;
        margin-bottom: 40px;
      }
      .fbBtn,
      .fbBtn2 {
        margin-right: 5px 10px !important;
        margin-bottom: 10px;
      }
    }
  }

  .cont {
    padding: 8rem 0;
  }
  .cont:hover {
    p::after {
      left: 70px;
      top: 5px;
      transition: all 2s ease;
    }
  }
}
.animated1 {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
.animated2 {
  animation: up-down 1.6s ease-in-out infinite alternate-reverse both;
}

.animated3 {
  animation: up-down 2.3s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes up-down {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes up-down {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
