.hero {
  height: 50rem;
  width: 100%;
  background:
    url(../../../src/assets/startup-hero-03.webp);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  .heroFooter {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  .img1 {
    position: absolute;
    left: 0;
    top: 8rem;

    @media (max-width: 575px) {
      display: none;
    }
  }
  .img2 {
    position: absolute;
    right: 5rem;
    top: 8rem;
    @media (max-width: 991px) {
      right: 2rem;
      top: 8rem;
    }
    @media (max-width: 575px) {
      display: none;
    }
  }
  .img3 {
    position: absolute;
    right: 40rem;
    top: 4rem;
    @media (max-width: 767px) {
      right: 30rem;
      top: 0.4rem;
    }
    @media (max-width: 575px) {
      display: none;
    }
  }

  h1 {
    color: rgb(69, 0, 143);
    font-weight: 700;
    font-size: 3rem;
    @media (max-width: 575px) {
      font-size: 2.5rem;
      text-align: center;
    }
  }

  .btn-grp {
    height: 60px;
  }

  .btn1 {
    position: relative;
    z-index: 1;
    padding: 13px 30px;
    transition: 0.5s;
    background: rgb(0, 7, 69);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5px;
  }
  .btn1:hover {
    color: white;
  }
  .btn1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 12, 143);
    z-index: -1;
    transform-origin: left;
    transition: transform 0.5s ease;
    transform: scaleX(1);
  }

  .btn1:hover::before {
    transform-origin: right;
    transition: transform 0.5s ease;
    transform: scaleX(0);
  }

  .btn2 {
    position: relative;
    z-index: 1;
    padding: 13px 30px;
    transition: 0.5s;
    background: rgb(0, 7, 69);
    color: rgb(0, 12, 143);
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid gray;
  }
  .btn2:hover {
    color: white;
  }
  .btn2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    z-index: -1;
    transform-origin: left;
    transition: transform 0.5s ease;
    transform: scaleX(1);
  }

  .btn2:hover::before {
    transform-origin: right;
    transition: transform 0.5s ease;
    transform: scaleX(0);
  }
}
.desc {
  color: rgb(71, 71, 71);
}
.title {
  position: relative;
  width: 53%;
  text-align: right;
  &:hover {
    &::after {
      left: 70px;
      top: 5px;
      transition: all 0.7s ease;
    }
  }
}

.title::before {
  content: "";
  height: 4px;
  width: 80px;
  background: rgb(69, 0, 143);
  position: absolute;
  left: 2px;
  top: 9px;
}
.title::after {
  content: "";
  height: 13px;
  width: 13px;
  background: rgb(69, 0, 143);
  position: absolute;
  left: 3px;
  top: 5px;
  transform: rotate(45deg);
}
@media (max-width: 991px) {
  .title {
    width: 49%;
  }
  .title::before {
    left: 2px;
    top: 9px;
    height: 3px;
  }
  .title::after {
    left: 3px;
    top: 4px;
  }
}
@media (max-width: 767px) {
  .title {
    width: 66%;
  }
  .title::before {
    left: 2px;
    top: 9px;
    height: 3px;
  }
  .title::after {
    left: 3px;
    top: 4px;
  }
}
@media (max-width: 575px) {
  .title {
    width: 94%;
    text-align: center;
  }
  .title::before {
    display: none;
  }
  .title::after {
    display: none;
  }
}

@media (max-width: 575px) {
  .hero .title {
    font-size: 25px;
  }
  .title {
    width: 35%;
  }
  h1 {
    font-size: 6rem;
  }
}

.animated1 {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
.animated2 {
  animation: up-down 1.7s ease-in-out infinite alternate-reverse both;
}

.animated3 {
  animation: up-down 2.2s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes up-down {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes up-down {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

.cont:hover {
  p::after {
    left: 70px;
    top: 5px;
    transition: all 2s ease;
  }
}
