.app-container {
  display: flex;
}

.sidebar {
  width: 20%;
  padding: 20px;
  background-color: #262626;
}

.profile-info {
  margin-bottom: 20px;
}

.profile-container {
  width: 75%;
  padding: 20px;
}

h2 {
  font-size: 24px;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
}

.sidebar-nav ul li {
  margin: 10px 0;
}

.sidebar-nav ul li a {
  text-decoration: none;
  color: #eaeaea;
  font-weight: bold;
}
